/*This css code will edit what the main page looks like*/



/*================================================================================*/
/* Nav Bar at the top of the page */
#navBar ul{
    background-color: grey;
}


#navBar ul li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
}
/*================================================================================*/