/*===============================================================================================================*/
/*
    Author:             Jan Veintidos
    Date Modified:      5/19/2021
    Description:        This css code will be linked to the main page 

*/

/*===============================================================================================================*/
/* Nav Bar at the top of the page */

/*Change the margin so it fits the entire screen*/
#navBar{
    margin: -8px;
}

/*
   take out the bullets
   hide any overflow  revist if not in the nav bar background doesn't work properly
   set background color to black 
*/
#navBar ul{
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}

/* move the hyperlinks all to the left */
#navBar ul li{
    float: left;
    border-right: 2px solid white;
}

/* Add a little border to the first element on the left*/
#navBar ul li:first-child{
    margin-left: 150px;
    border-left: 2px solid white;
}

/*
   display the links as blocks
   change the text color to white
   align the text to the center
   padding to the element
   text-decoration takes out the underline under the text
*/
#navBar ul li a{
    display: block;
    color: gold;    
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

.contactInfo{
    float: right;
}


/*if a person hoovers their mouse over the element change it's color to blue  */
#navBar ul li a:hover{
    background-color: blue;
}

/*===============================================================================================================*/